<div class="container">
  <img
    width="200"
    alt="Water-Plus"
    src="assets/images/water-plus.png"
  />
<div class="info-corporation">
  <img
  width="200"
  alt="Maquina Dispensadora"
  src="assets/images/maquina1.jpg"
/>
Somos una empresa diferente y comprometida con llevar el agua al alcance de todos, tenemos la convicción de que el agua es un bien el cual todos deberían poder disponer.
  La manera en la que el agua es distribuida actualmente, eleva los costos del producto, tiempos de entrega y compromete la calidad del agua en el proceso.
  
  Nuestros equipos cuentan con un sistema de purificación de 8 ciclos: retención de partículas, carbón activo en bloque, granulado y sintético, Osmosis inversa, ozonización, rayos UV y micro filtrado.
  
  Además las máquinas WaterPlus cuentan con un sistema de autoservicio, que permite a los usuarios servirse del producto de manera independiente.
  
  Esto significa que no es necesario ningún empleado en la estación de llenado de agua purificada, este factor nos permite ofrecer un precio final muy competitivo sin comprometer la calidad del agua</div>
</div>

<ul type=”A”>
  <li>
  Para preguntas concretas y servicio técnico: <a href="https://wa.me/50374426651">Escribamos en WhatApp</a>
  </li>

  <li>
 <a href="https://www.facebook.com/waterplusca">Facebook</a>
    </li>

</ul>

<router-outlet></router-outlet>
