  <img
    width="200"
    alt="Water-Plus"
    src="assets/images/water-plus.png"
  />

<section id="hero">
  <p>💧 Máquinas dispensadoras de agua purificada 💧</p>
</section>

<div class="info-corporation">
  <img
  width="200"
  alt="Maquina Dispensadora"
  src="assets/images/maquina1.jpg"
/>
</div>
<section id="about">
  <h2>Sobre Nosotros</h2>
  <p>Somos una empresa comprometida con llevar el agua al alcance de todos. Creemos que el agua es un bien fundamental que todos deberían poder disfrutar.</p>
  <p>Nuestros equipos cuentan con un sistema de purificación de 7 ciclos, asegurando la más alta calidad en cada gota.</p>
</section>

<section id="purification-system">
  <h2>Sistema de Purificación</h2>
  <ul>
    <li>Retención de partículas</li>
    <li>Carbón activo en bloque</li>
    <li>Carbón activo granulado y sintético</li>
    <li>Osmosis inversa</li>
    <li>Ozonización</li>
    <li>Rayos UV</li>
    <li>Microfiltrado</li>
  </ul>
</section>

<section id="self-service">
  <h2>Servicio de Autoservicio</h2>
  <p>Nuestras máquinas WaterPlus cuentan con un sistema de autoservicio, permitiendo a los usuarios servirse del producto de manera independiente. No es necesario ningún empleado en la estación de llenado de agua purificada, lo que nos permite ofrecer un precio final muy competitivo sin comprometer la calidad del agua.</p>
</section>

<section id="contact">
  <h2>Contacto</h2>
  <p>  
  ¿Preguntas? ¿Servicio técnico?
  <br>
  Hablemos por  
  <button>  
    <a href="https://wa.me/50374426651">WhatsApp</a>
  </button> 
   ó  
    <button>
    <a href="https://www.facebook.com/waterplusca">Facebook</a>
  </button>
  </p>
</section>
